//MASTER SETTINGS

//--COLORS
$color--dark-primary: #13121c;
$color--light-primary: #282638;


//GLOBAL
body {
  background: $color--dark-primary;
  display: flex;
}


//MAIN PAGE
#primary-container {
  background: red;
  width: 50%;
  height: 200px;
}
