h1 {
  margin: 0;
  font-size: 1.25rem;
}

body {
  background: #13121c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Asap", sans-serif;
  flex-flow: row wrap;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
}

.btn {
  background: #413f53;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 12px;
  font-weight: 700;
  transition: all 0.25s;
  cursor: pointer;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.dd-carrot {
  position: absolute;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  opacity: 0.5;
  transition: 0.25s;
  cursor: pointer;
}
.dd-carrot:hover {
  opacity: 1;
}

#primary-container {
  background: #282638;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  color: white;
  display: flex;
}
#primary-container div {
  display: flex;
  flex-flow: row wrap;
}

#template-select {
  width: 25%;
  border-right: 2px solid #413f53;
  padding: 20px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
#template-select h1 {
  margin-bottom: 24px;
}
#template-select img {
  width: 100px;
}
#template-select .btn {
  opacity: 0.25;
}
#template-select .btn:hover {
  opacity: 1;
}
#template-select .active {
  background: #502ae4;
  opacity: 1;
  pointer-events: none;
}
#template-select .container {
  justify-content: center;
}

#template-data {
  width: 75%;
  height: 100%;
  padding: 30px;
  padding-top: 10px;
  flex-flow: row wrap;
  box-sizing: border-box;
}

#template-data-header {
  width: 100%;
  border-bottom: 2px solid #413f53;
  flex-flow: row wrap;
  height: 45px;
  justify-content: space-evenly;
}

.header-item {
  position: relative;
  flex-basis: 33%;
  flex-grow: 1;
  justify-content: center;
  font-size: 0.75rem;
  padding-top: 10px;
  transition: 0.25s;
  align-items: center;
  box-sizing: border-box;
  font-weight: 300;
  opacity: 0.2;
  padding-bottom: 10px;
}
.header-item:hover {
  background: #413f53;
  cursor: pointer;
  opacity: 1;
}
.header-item.active {
  font-weight: 700;
  opacity: 1;
}
.header-item.active .header-bar {
  height: 10px;
}
.header-item.active .complete {
  background: #2ae497;
}

.header-bar {
  width: 80%;
  position: absolute;
  bottom: 0;
  height: 0px;
  background: #502ae4;
  transition: 0.25s;
}

#template-main-content {
  margin-top: 30px;
  background: #413f53;
  width: 100%;
  height: 85%;
  align-items: flex-start;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selection-header {
  position: absolute;
  top: 20px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

#brand-selection {
  width: 80%;
  height: 30px;
}

#brand-selection-content {
  align-items: center;
}

#brand-selection-display {
  margin-left: 10px;
  width: 225px;
  box-sizing: border-box;
  background: #282638;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-radius: 10px;
  position: relative;
}

.overflow-text {
  position: absolute;
  right: 35px;
}

#brand-selection-name {
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

#brand-selection-default {
  margin-top: 10px;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  font-style: italic;
  width: 100%;
}

#selection-button-base {
  margin-left: 10px;
  width: 45px;
  height: 20px;
  background: #282638;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
  padding: 2.5px;
  align-items: center;
}

#selection-slider {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #413f53;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.25s;
}
#selection-slider:hover {
  opacity: 1;
}

#app-data {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  color: #413f53;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}/*# sourceMappingURL=styles.css.map */