<div class="selection-header">Brand Selection</div>
<div id="brand-selection">
  <div id="brand-selection-content">
    <div id="brand-selection-label">
      Select your Brand from the List:
    </div>
    <div id="brand-selection-display" class="">
      <p id="brand-selection-name">ISENTRESS-ISENTRESS HD-mobile-Persistent-Disclaimer</p>
      <div id="brand-dd" class="dd-carrot" onclick="brandDropDown()">
        <img src="../images/app-images/icon-carrot.svg">
      </div>
      <div id="brand-dd-menu">
        <div class="dd-item" onclick="setBrand(this)">Item 1</div>
        <div class="dd-item" onclick="setBrand(this)">Item 2</div>
        <div class="dd-item" onclick="setBrand(this)">Item 3</div>
        <div class="dd-item" onclick="setBrand(this)">Item 4</div>
      </div>
    </div>
  </div>
  <div class="break"></div>
  <div class="break"></div>
  <div id="brand-selection-default">
    <div id="default-selection-label">Use Selected Brand as Default?</div>
    <div id="selection-button-base">
      <div id="selection-slider" class="non-active" onclick="defaultSelection()"></div>
    </div>
  </div>
</div>
