<div class="selection-header">Upload HTML Files</div>
<div id="drag-upload-section">
  <div id="alert-upload" class="upload-section">
    <strong>Alert HTML</strong>
    <div id="alert-drag-box" class="drag-box" data-text="Drag Alert HTML" data-fileload="false">
      <div class="drag-box-inner" data-type="alert"></div>
    </div>
    <em>or</em>
    <div class="break"></div>
    <input type="file" id="alert-upload-input" class="hidden">
    <div class="btn" data-type="alert" onclick="fileUploadInput(this)">Upload Alert HTML</div>
    <div class="file-upload-container" style="display: none;">
      <p class="file-upload-name"></p>
      <div class="file-delete-icon-wrapper">
        <img class="file-delete" src="../images/app-images/icon--x-close.png" onclick="unloadFile(this)">
      </div>
    </div>
  </div>
  <div id="coversheet-upload" class="upload-section">
    <strong>Coversheet(CS) HTML</strong>
    <div id="coversheet-drag-box" data-text="Drag Coversheet HTML" class="drag-box">
      <div class="drag-box-inner" data-type="coversheet"></div>
    </div>
    <em>or</em>
    <div class="break"></div>
    <input type="file" id="coversheet-upload-input" class="hidden">
    <div class="btn" data-type="coversheet" onclick="fileUploadInput(this)">Upload CS HTML</div>
    <div class="file-upload-container" style="display: none;">
      <p class="file-upload-name"></p>
      <div class="file-delete-icon-wrapper">
        <img class="file-delete" src="../images/app-images/icon--x-close.png" onclick="unloadFile(this)">
      </div>
    </div>
  </div>
</div>