<div class="selection-header">Upload HTML Files</div>
<div id="drag-upload-section">
  <div id="alert-upload" class="upload-section">
    <strong>Alert HTML</strong>
    <div id="alert-drag-box" class="drag-box" data-text="Drag/Drop to upload Alert HTML" data-fileload="false"></div>
    <em>or</em>
    <div class="break"></div>
    <input type="file" id="drag-file-input" class="hidden">
    <div class="btn">Upload Alert HTML</div>
  </div>
  <div id="coversheet-upload" class="upload-section">
    <strong>Coversheet(CS) HTML</strong>
    <div id="coversheet-drag-box" data-text="Drag/Drop to upload Coversheet HTML" class="drag-box"></div>
    <em>or</em>
    <div class="break"></div>
    <div class="btn">Upload CS HTML</div>
  </div>
</div>