<div class="selection-header">Upload HTML Files</div>
<div id="drag-upload-section">
  <div id="alert-upload" class="upload-section">
    <strong>Alert HTML</strong>
    <div class="drag-box">Drag/Drop to upload Alert HTML</div>
    <em>or</em>
    <div class="break"></div>
    <div class="btn">Upload Alert HTML</div>
  </div>
  <div id="coversheet-upload" class="upload-section">
    <strong>Coversheet(CS) HTML</strong>
    <div class="drag-box">Drag/Drop to upload Coversheet HTML</div>
    <em>or</em>
    <div class="break"></div>
    <div class="btn">Upload CS HTML</div>
  </div>
</div>
