<html lang="en">
  <head>
    <link rel="stylesheet" href="./ApplicationSupport/css/doximity-new.css"> <!--needs to be ../css... for prod-->
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body class="mobile">
    <div id="title-bar">
      <p>TEMPEST</p>
    </div>
    <div id="template-controls">
      <div class="app-icon" onclick="home()">
        <img src="./ApplicationSupport/images/app-images/icon--home.png">
      </div>
      <div class="vert-border"></div>
      <div class="template-control-icon active-view" data-view="mobile" onclick="switchView('mobile',this)">
        <img src="./ApplicationSupport/images/app-images/icon--mobile.png">
      </div>
      <div class="template-control-icon" data-view="desktop" onclick="switchView('desktop',this)">
        <img src="./ApplicationSupport/images/app-images/icon--desktop.png">
      </div>
      <div id="submit-btn-container">
        <div id="submit-btn" onclick="exportPDF()">Create PDF</div>
      </div>
    </div>
    <div id="container-main" class="mobile">
      <div id="template-version">
        <p id="template-version-text"></p>
      </div>
      <div id="header">
        <div id="template-logo">
          <img src="./ApplicationSupport/images/_template-images/doximity/og_doximity_trans.png">
          <div id="header-disclaimer" class="variable-item variable-text">
            <strong>NOTE TO REVIEWER:</strong> Boxed content is variable and may change if multiple titles and images are presented. Unboxed content will not change. 
          </div>
        </div>
      </div>
      <div id="alert-data">
        <div id="column-left" class="column">
          <div id="alert-headlines" class="section">
            <div id="header-label" class="label variable-text">Variable Title Options:</div>
            <div id="title-options" class="variable-container">
            </div>
          </div>
          <div id="alert-image-options" class="section">
            <div id="header-label" class="label variable-text">Variable Feature Image Options</div>
            <div id="header-options" class="variable-container blue">
            </div>
          </div>
        </div>
        <div id="column-center" class="column">
          <div id="doximity-preview-container">
            <div id="preview-header">
              <div id="preview-logo">
                <img src="./ApplicationSupport/images/_template-images/doximity/merck_c_LO.png">
              </div>
              <div id="preview-header-copy">
                <div id="preview-header-bold">Merck</div>
                <div id="preview-header-body">[X] colleagues read</div>
              </div>
              <div id="preview-sponsored">
                Sponsored
              </div>
            </div>
            <div id="preview-image" data-tooltipDoximityImage>
            </div>
            <div id="preview-title" class="variable-container">
            </div>
            <div id="preview-footer">
              <img src="./ApplicationSupport/images/_template-images/doximity/icon--like.png" />
              <img src="./ApplicationSupport/images/_template-images/doximity/icon--share.png" />
              <div id="preview-pi-med-guide">
                <div class="text">Prescribing Info</div>
                <div class="text">Med Guide</div>
              </div>
            </div>
          </div>
        </div>
        <div id="column-right" class="column">
          <div id="alert-header">
            <img class="dox-image mobile" src="./ApplicationSupport/images/_template-images/doximity/doximity--alert-head.png">
            <img class="dox-image desktop" src="./ApplicationSupport/images/_template-images/doximity/doximity--desktop-alert-head.png">
            <div id="alert-header-logo">
              <img src="./ApplicationSupport/images/_template-images/doximity/merck_c_LO.png">
            </div>
            <div id="alert-header-copy">
              <div id="alert-header-bold">Merck</div>
              <div class="break"></div>
              <div id="alert-header-body">[X] colleagues read</div>
              <div id="alert-sponsored">
                Sponsored
              </div>
            </div>
            <div class="break"></div>
            <div id="alert-pi-med-guide">
              <div class="text">Prescribing Info</div>
              <div class="text">Med Guide</div>
            </div>
            <div id="alert-brand-chip">
            </div>
          </div>
          <div id="alert-body">
            <iframe id="alert-display" src="" scrolling="no"></iframe>
          </div>
          <div id="alert-footer">
            <div id="alert-footer-icons">
              <img class="footer-icon" src="./ApplicationSupport/images/_template-images/doximity/icon--like.png">
              <img class="footer-icon" src="./ApplicationSupport/images/_template-images/doximity/icon--share.png">
              <img id="footer-app" src="./ApplicationSupport/images/_template-images/doximity/doximity--mobile-footer-app.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>