<html lang="en">
  <head>
    <link rel="stylesheet" href="/ApplicationSupport/css/template_doximity.css">
  </head>
  <body>
    <div id="container--main">
      <div id="save--bar" class="btn">Save Template</div>
      <div class="header-main">
        <img src="/ApplicationSupport/images/_template-images/doximity/og_doximity_trans.png" id="template-logo" width="127px">
        <div class="header-text variable-text">
          <div class="note-text variable">
            <span class="header-bold">NOTE TO REVIEWER:</span> Boxed content is variable and may change. Unboxed content
            will not change.
          </div>
        </div>
      </div>
      <div class="column" id="title">
        <div class="text--header variable-text" id="title-header">Variable Title Options:</div>
        <div class="variable option-container" id="title-option-container">
        </div>
        <div id="alernative-image-container">
          <div class="text--header variable-text" id="image-options">Variable Feature Image Options:</div>
          <div class="variable option-container" id="image-option-container">
          </div>
        </div>
      </div>
      <div class="column" id="preview">
        <div id="doximity-preview-container">
          <div class="doximity-section" id="doximity-preview-header">
            <div class="doximity-header-section header-logo">
              <img src="/ApplicationSupport/images/_template-images/doximity/merck_c_LO.png" width="20px">
            </div>
            <div class="doximity-header-section header-title">
              <div class="header-title-bold">Merck</div>
              <div class="header-title-body">[X] colleagues read</div>
            </div>
            <div class="doximity-header-section preview-right-text">
              Sponsored
            </div>
          </div>
          <div class="doximity-section" id="doximity-preview-image"></div>
          <div class="doximity-section text--header" id="doximity-preview-title"></div>
          <div class="doximity-section" id="doximity-preview-footer">
            <div class="doximity-footer-section">
              <img src="/ApplicationSupport/images/_template-images/doximity/icon--like.png" width="23px" style="margin-right: 8px">
              <img src="/ApplicationSupport/images/_template-images/doximity/icon--share.png" width="23px">
            </div>
            <div class="doximity-footer-section">

            </div>
            <div class="doximity-footer-section preview-right-text">
              Prescribing Info
            </div>
          </div>
        </div>
      </div>
      <div class="column" id="alert">
        <div class="alert-container">
          <div class="alert-brand-header">
            <img id="alert-brand-image" src="" width="100%">
          </div>
          <div id="alert-window">
            <iframe id="brand-alert" src="" scrolling="no"></iframe>
          </div>
        </div>
        <div id="alert-phone-container">
          <div id="alert-phone">iPhone 6s/7/8<br>375px by 667px</div>
        </div>
      </div>
    </div>
  </body>
</html>