<html lang="en">
  <head>
    <link rel="stylesheet" href="/ApplicationSupport/css/doximity-new.css">
  </head>
  <body>
    <div id="container-main" class="mobile">
      <div id="template-version">
        <p id="template-version-text"></p>
      </div>
      <div id="header">
        <div id="template-logo">
          <img src="/ApplicationSupport/images/_template-images/doximity/og_doximity_trans.png">
          <div id="header-disclaimer" class="variable-item variable-text">
            <strong>NOTE TO REVIEWER:</strong> Boxed content is variable and may change. Unboxed content will not change.
          </div>
        </div>
      </div>
      <div id="alert-data">
        <div id="column-left" class="column">
          <div id="alert-headlines" class="section">
            <div id="header-label" class="label variable-text">Variable Title Options:</div>
            <div id="title-options" class="variable-container">
              <div class="title-item">
                <div class="alert-title">
                  When It Comes to Hepatitis A, You've Got Options. See How They Compare.
                </div>
                <div class="alert-char-count">
                  [<span>71</span> characters and spaces; limit: 120]
                </div>
              </div>
              <div class="title-item">
                <div class="alert-title">
                  How Does the Dosing and Administration Compare Between These Vaccines?
                </div>
                <div class="alert-char-count">
                  [<span>70</span> characters and spaces; limit: 120]
                </div>
              </div>
            </div>
          </div>
          <div id="alert-image-options" class="section">
            <div id="header-label" class="label variable-text">Variable Feature Image Options</div>
            <div id="header-options" class="variable-container blue">
              <div class="variable-image-item"></div>
              <div class="variable-image-item"></div>
              <div class="variable-image-item"></div>
            </div>
          </div>
        </div>
        <div id="column-center" class="column">
          <div id="doximity-preview-container">
            <div id="preview-header">
              <div id="preview-logo">
                <img src="/ApplicationSupport/images/_template-images/doximity/merck_c_LO.png">
              </div>
              <div id="preview-header-copy">
                <div id="preview-header-bold">Merck</div>
                <div id="preview-header-body">[X] colleagues read</div>
              </div>
              <div id="preview-sponsored">
                Sponsored
              </div>
            </div>
            <div id="preview-image" class="fpo variable-container blue"></div>
            <div id="preview-title" class="variable-container">
              This is the title of a Doximity Alert
            </div>
            <div id="preview-footer">
              <img src="/ApplicationSupport/images/_template-images/doximity/icon--like.png" />
              <img src="/ApplicationSupport/images/_template-images/doximity/icon--share.png" />
              <div id="preview-pi-med-guide">
                <div class="text">Prescribing Info</div>
                <div class="text">Med Guide</div>
              </div>
            </div>
          </div>
        </div>
        <div id="column-right" class="column">
          <div id="alert-header">
            <img class="dox-image" src="/ApplicationSupport/images/_template-images/doximity/doximity--alert-head.png">
            <div id="alert-header-logo">
              <img src="/ApplicationSupport/images/_template-images/doximity/merck_c_LO.png">
            </div>
            <div id="alert-header-copy">
              <div id="alert-header-bold">Merck</div>
              <div class="break"></div>
              <div id="alert-header-body">[X] colleagues read</div>
              <div id="alert-sponsored">
                Sponsored
              </div>
            </div>
            <div class="break"></div>
            <div id="alert-pi-med-guide">
              <div class="text">Prescribing Info</div>
              <div class="text">Med Guide</div>
            </div>
            <div id="alert-brand-chip">
              <img src="/ApplicationSupport/images/brand-tiles/vaxnunu.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>